:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent-color: #646cff;
  --accent-color-glass: rgba(100, 108, 255, 0.5);
  --accent-color-border: 1px solid rgba(255, 255, 255, 0.2);
  --accent-color-hover: #535bf2;
  --border-color: #dbdada;

  /* Button Colors */
  --btn-base-bg: #646cff;
  --btn-base-text: #ffffff;
  --btn-base-bg-hover: #747cff;

  --btn-secondary-bg: #7728b3;
  --btn-secondary-toggle: #6802dc;
  /* --btn-secondary-bg-glass: rgba(119, 40, 179, 0.3); */
  --btn-secondary-bg-glass: rgba(255, 255, 255, 0.1);
  --btn-secondary-border: 1px solid rgba(255, 255, 255, 0.2);
  --btn-secondary-text: #ffffff;
  --btn-secondary-bg-hover: #f48d10;

  --btn-cancel-bg: #b9b9b9;
  --btn-cancel-text: #ffffff;
  --btn-cancel-bg-hover: #c9c9c9;

  --btn-disabled-bg: #1a1a1a;
  --btn-disabled-text: #777;
  --btn-disabled-bg-hover: #1a1a1a;
}

html[data-theme="dark"] {
  --background: linear-gradient(135deg, #343434 0%, #272727 100%);
  --text-color: rgba(255, 255, 255, 0.87);
  --text-color-secondary: #aaaaaa;
  --background-hover: #3a3a3a;
  --chat-background: linear-gradient(135deg, #5e5e5e 0%, #464646 100%);
  --input-bg-color: #2c2c2c;
}

html[data-theme="light"] {
  --background: linear-gradient(135deg, #7b87bd 0%, #9175ad 100%);
  --text-color: rgba(255, 255, 255, 0.87);
  --text-color-secondary: #555555;
  --background-hover: #f0f0f0;
  /* --chat-background: linear-gradient(135deg, #e1e9ff 0%, #fdd8ea 100%); */
  --chat-background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  --input-bg-color: #c5c5c5;
}

a {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--accent-color-hover);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text-color);
  background: var(--background);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
