.toggle {
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  color: var(--text-color);
  margin-left: 20px;
  border-left: 3px solid transparent;
  font-size: 1.5rem;
}

/* .toggle:hover {
  background-color: var(--hover-color);
} */

.toggle.active {
  color: var(--btn-secondary-toggle);
  font-weight: bold;
  border-left: 3px solid var(--btn-secondary-toggle);
}

.link {
  text-decoration: none !important;
}
