.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* --- VARIANT STYLES --- */
/* When adding a new style, update the string literal in Button.tsx */
.base {
  background-color: var(--btn-base-bg);
  color: var(--btn-text-color);
}

.cancel {
  background-color: var(--btn-cancel-bg);
  color: var(--btn-cancel-text);
  border-color: var(--btn-cancel-border);
}

.disabled {
  background-color: var(--btn-disabled-bg);
  color: var(--btn-disabled-text);
  cursor: not-allowed;
}

/* .gradient {
  background-image: linear-gradient(
    to right,
    var(--btn-base-bg) 0%,
    var(--btn-base-bg-hover) 51%,
    var(--btn-base-bg) 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
  color: var(--btn-text-color);
  border: none;
}

.gradient:hover {
  background-position: right center;
  color: var(--btn-text-color);
  text-decoration: none;
} */

.secondary {
  width: 50%;
  background-color: var(--btn-secondary-bg);
  color: var(--btn-secondary-text);
}

.icon {
  background: none;
  border: none;
  padding: 0; /* Override default padding */
}
.icon:hover {
  /* No hover effect unless specified by parent */
  border-color: transparent;
}

.iconCircle {
  padding: 0.75rem;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background-color: var(--btn-base-bg);
  color: var(--btn-text-color);
  display: flex; /* These are for centering the icon inside */
  align-items: center;
  justify-content: center;
}
